In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Obtener los datos en formato csv y convertirlos a pandas DataFrame
url = 'https://raw.githubusercontent.com/kfern/jupyter/next/covid19-es-and/covid19-es-and.csv'
df = pd.read_csv(url)

In [3]:
df.tail()

    Provincia  Ingresados  Altas  Bajas       Fecha
364    Huelva         212    130     35  22/04/2020
365      Jaén         650    260    141  22/04/2020
366    Málaga        1376    956    232  22/04/2020
367   Sevilla        1052    505    218  22/04/2020
368     Total        5565   3569   1050  22/04/2020

In [4]:
# Obtener la lista de elementos de la categoría
c_provincia = pd.Categorical(df['Provincia'].unique())

In [5]:
# Convertir la columna a tipo category
df['Provincia'] = pd.Categorical(df['Provincia'], c_provincia)

In [6]:
print('Por defecto muestra los datos combinados')
print(df['Provincia'].tail())

Por defecto muestra los datos combinados
364     Huelva
365       Jaén
366     Málaga
367    Sevilla
368      Total
Name: Provincia, dtype: category
Categories (9, object): [Almería, Cádiz, Córdoba, Granada, ..., Jaén, Málaga, Sevilla, Total]

In [7]:
print('Se pueden mostrar sólo los códigos, sin combinar')
print(df['Provincia'].cat.codes.tail())

Se pueden mostrar sólo los códigos, sin combinar
364    4
365    5
366    6
367    7
368    8
dtype: int8