## Convertir archivo csv a formato dividido (melt)

In [1]:
import pandas as pd

In [2]:
filename = '../covid19-es-and.csv'

In [3]:
# Load full csv
df = pd.read_csv(filename, thousands='.')

In [4]:
df.head()

  Provincia  Hospitalización  Curados  Fallecimientos       Fecha
0   Almería                0        0               0  13/03/2020
1     Cádiz                1        0               0  13/03/2020
2   Córdoba                3        0               0  13/03/2020
3   Granada                3        0               0  13/03/2020
4    Huelva                0        0               0  13/03/2020

In [5]:
data = pd.melt(df, id_vars=['Provincia', 'Fecha'], value_vars=['Hospitalización', 'Curados', 'Fallecimientos'])
data.head()

  Provincia       Fecha         variable  value
0   Almería  13/03/2020  Hospitalización      0
1     Cádiz  13/03/2020  Hospitalización      1
2   Córdoba  13/03/2020  Hospitalización      3
3   Granada  13/03/2020  Hospitalización      3
4    Huelva  13/03/2020  Hospitalización      0

In [6]:
data.to_csv(filename, encoding='utf-8', header=True, index_label='Provincia', index=False)