## Importar los datos de PCR y UCI del día 01/06/2020

In [1]:
import pandas as pd

In [2]:
filename = '../covid19-es-and.csv'
fecha = '01/06/2020'
id_noticia = '237099'
url = 'https://www.juntadeandalucia.es/organismos/saludyfamilias/actualidad/noticias/detalle/' + id_noticia + '.html'

In [3]:
# Load
tables = pd.read_html(url, header=0, thousands='.')
assert len(tables) > 0
dfL = tables[0]

In [4]:
dfL

,Provincia,PCR Positivo,Hospitalización,UCI,Fallecimientos,Curados
0,Almería,511 (+2),240 (0),41 (0),54 (0),652 (0)
1,Cádiz,1.269 (0),584 (+1),81 (0),158 (0),974 (0)
2,Córdoba,1.343 (0),559 (0),76 (0),117 (0),1.505 (0)
3,Granada,2.453 (+1),1.203 (0),133 (0),286 (-1),2.777 (+26)
4,Huelva,404 (0),221 (0),30 (0),48 (0),464 (0)
5,Jaén,1.457 (+1),768 (0),91 (0),182 (0),1.453 (0)
6,Málaga,2.788 (+1),1.484 (0),168 (0),287 (0),2.896 (+1)
7,Sevilla,2.468 (0),1.203 (0),150 (0),286 (0),2.648 (+19)
8,Total,12.693 (+5),6.262 (+1),770 (0),1.418 (-1),13.369 (+46)

In [5]:
# Prepare
dfL['Fecha'] = fecha
# A partir del 14/05/2020 se cambia el formato del dato añadiendo en la misma columna el número de nuevos casos
for col in ['PCR Positivo',	'Hospitalización', 'UCI', 'Fallecimientos',	'Curados']:
    dfL[col] = dfL[col].str.split(' ').str[0]

dfL

,Provincia,PCR Positivo,Hospitalización,UCI,Fallecimientos,Curados,Fecha
0,Almería,511,240,41,54,652,01/06/2020
1,Cádiz,1.269,584,81,158,974,01/06/2020
2,Córdoba,1.343,559,76,117,1.505,01/06/2020
3,Granada,2.453,1.203,133,286,2.777,01/06/2020
4,Huelva,404,221,30,48,464,01/06/2020
5,Jaén,1.457,768,91,182,1.453,01/06/2020
6,Málaga,2.788,1.484,168,287,2.896,01/06/2020
7,Sevilla,2.468,1.203,150,286,2.648,01/06/2020
8,Total,12.693,6.262,770,1.418,13.369,01/06/2020

In [6]:
data = pd.melt(dfL, id_vars=['Provincia', 'Fecha'], value_vars=['PCR Positivo', 'UCI'])

In [7]:
data.to_csv(filename, encoding='utf-8', header=False, mode='+a', index=False)