In [1]:
import pandas as pd
import DFInfo

In [2]:
    fakeCols = ['A', 'B', 'C']
    fakeData = {
      'row_1': [2, 1], 
      'row_2': [3, 'f', 'h'],
      'row_3': [4, 'f', 'h']
    }
    dfX = pd.DataFrame.from_dict(fakeData, orient='index', columns=fakeCols)
    dfX = dfX.astype(dtype= {"A":"int64"})
    dfX['target'] = dfX['A'] * 3.14

dfX

       A  B     C  target
row_1  2  1  None    6.28
row_2  3  f     h    9.42
row_3  4  f     h   12.56

In [4]:
r = DFInfo.get(dfX, 'target')
r

    dtype  nulls count unique
A   int64      0     3      3
B  object      0     3      2
C  object      1     2      1

In [6]:
dfX

       A  B     C  target
row_1  2  1  None    6.28
row_2  3  f     h    9.42
row_3  4  f     h   12.56

In [11]:
dfX.corr()

          A  target
A       1.0     1.0
target  1.0     1.0

In [13]:
r['corr_target'] = dfX.corr().loc['target']
r

    dtype  nulls count unique  corr_target
A   int64      0     3      3          1.0
B  object      0     3      2          NaN
C  object      1     2      1          NaN